.contenedor-tareas{
  min-width: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, tomato, orange , purple);
  gap: 2em;
  padding:0 1em 4em 1em;
}

.tit-tareas h1{
  color: whitesmoke;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
}

.lista-tareas{
  width: auto;
  min-height: 400px;
  background-color: rgba(245, 245, 245, 0.445);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}